hr.short-hr {
    width: 10%;
    border: 3px solid blue;
}

.about a {
    text-decoration: none;
    color: black;
}

.years {
    background-color: #00224B;
    color: #fff;
}

.years h1 {
    font-size: 4em;
}

.skills span {
    color: #00224B;
    font-weight: bold;
}

.skills h4 {
    font-weight: bolder;
}

button a {
    color: #fff;
    text-decoration: none;
}

.contact a {
    text-decoration: none;
    color: #fff;
}

.contactdetails {
    background-color: burlywood;
    padding: 30px;
    color: #fff;
}

footer {
    position: static;
    background-color: #00224B;
    color: #fff;
    padding: 3px;
    width: 100%;
    bottom: 0;
}