<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="background-color: #fff;font-weight: bolder;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Victoria Mutai</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#about">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="about mt-2" id="about">
        <div class="row">
            <div class="col-md-3">
                <img src="../assets/img/VickyProfessional.jpeg" alt="Victoria Mutai" srcset=""
                    class="rounded-circle mt-5" height="200" width="200">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 mt-5">
                <h2><b>About Me</b></h2>
                <hr class="short-hr">
                <h6>Software Developer | Co-lead @Firebase Kenya</h6>
                <p>
                    A software engineer who has been able to work on
                    various web development projects and script writing in python. She believes in changing the world
                    using technlogy. She believes in narrowing the gap between boys and girls
                    in STEM courses. In her free time, she volunteers in her community as a trainer for kids and teens
                    learning programming. Some of the organization she has volunteered in include African Tech Girl,
                    Rural Women Peace Link and Andela(GADs mentor 2018,2019)</p>
                <p><b><i class="fa-brands fa-linkedin-in"></i>&nbsp;<a
                            href="https://www.linkedin.com/in/victoria-mutai/" target="_blank">Linkedin</a> | <i
                            class="fa-brands fa-twitter"></i>&nbsp;<a href="https://twitter.com/vicky__mutai"
                            target="_blank">Twitter</a>
                        | <i class="fa-brands fa-github"></i>&nbsp;<a href="https://github.com/VickyMutai"
                            target="_blank">Github</a>
                        | <i class="fa-regular fa-file"></i>&nbsp;<a
                            href="https://docs.google.com/document/d/1d8KlJ5EvWYJ5BcUhT7cGSX74mwZrVlKp9T7rVX6y_oU/edit?usp=sharing"
                            target="_blank">Resume</a>
                        | <i class="fa-solid fa-blog"></i>&nbsp;<a href="https://victoriamutai.hashnode.dev/"
                            target="_blank">Blog</a></b>
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="skills mt-5" id="skills">
        <div class="container">
            <div class="row">
                <h2 class="text-center fw-bolder">Skills</h2>
                <div class="col-md-2 years d-flex justify-content-center align-items-center" style="padding: 3%;">
                    <div>
                        <h1>4 +</h1>
                        <p>Years of Working Experience</p>
                    </div>
                </div>
                <div class="col-md-10 mt-3" style="padding-left: 6%;">
                    <h4>Frontend</h4>
                    <p>I possess the skills to create dynamic frontend applications, leveraging my expertise in
                        <span>HTML,
                            CSS, Bootstrap, Vanilla JavaScript, and Angular JavaScript.</span>
                    </p>
                    <h4>Backend</h4>
                    <p>I have experience in developing scalable applications using <span>Python, Django, and
                            Flask</span>. My
                        proficiency extends to utilizing <span>Firebase, MySQL, and PostgreSQL</span>, ensuring that
                        applications
                        remain accessible both online and offline.</p>
                    <h4>Automation</h4>
                    <p>My Python expertise enables me to automate a wide range of tasks, including web scraping and UI
                        testing using selenium and data manipulation using Pandas, among other applications.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="projects mt-5 mb-5" id="projects">
        <h2 class="text-center fw-bolder">Featured Projects</h2>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="../assets/img/giovanni.png" class="img-fluid card-image" alt="GIOVANNI">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #00224B;">Giovanni Ecommerce Application</h5>
                        <p class="card-text">A flask application that allows users to send inquiries for clothes they
                            like via whatsapp. Implemented HTML, bootstrap and Flask. The database is Firebase.
                        </p>
                        <button class="btn projects" style="background-color: #00224B; color: #fff;"><a
                                href="https://giovanni.co.ke/">Live
                                Demo</a></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="../assets/img/bleaminggold.png" class="img-fluid card-image" alt="BLEAMING GOLD">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #00224B;">Bleaming Gold</h5>
                        <p class="card-text">A flask application that allows users to send inquiries for gold products.
                            Implemented HTML, bootstrap and Flask. The database is Firebase
                        </p>
                        <button class="btn projects" style="background-color: #00224B; color: #fff;"><a
                                href="https://bleaminggold.com/">Live
                                Demo</a></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="../assets/img/coadkenya.png" class="img-fluid card-image" alt="COAD KENYA">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #00224B;">COAD KENYA</h5>
                        <p class="card-text">A website that displays information on the COAD Kenya, a company for
                            climate
                            action and sustainability.
                            Implemented HTML, CSS and Bootstrap.
                        </p>
                        <button class="btn projects" style="background-color: #00224B; color: #fff;"><a
                                href="http://coadkenya.org/">Live
                                Demo</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact mt-5 mb-5" id="contact">
        <h2 class="text-center fw-bolder">Lets Talk</h2>
        <p class="text-center">Want to have a quick chat?</p>
        <div class="row gx-3">
            <div class="col-md-3 text-center contactdetails">
                <span><i class="fa-solid fa-phone-volume"></i></span>
                <p><a href="tel:+254716889165">+254716889165</a></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 text-center contactdetails">
                <span><i class="fa-regular fa-envelope"></i></span>
                <p><a href="mailto:vicky.mutai96@gmail.com">vicky.mutai96@gmail.com</a></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 text-center contactdetails">
                <span><i class="fa-solid fa-location-dot"></i></span>
                <p>Nairobi Kenya</p>
            </div>
        </div>
    </div>
</div>
<footer class="footer text-center">
    <p>&copy; 2023. Made by Victoria Mutai</p>
</footer>