<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="background-color: #fff;font-weight: bolder;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Victoria Mutai</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#about">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="about mt-5" id="about">
        <div class="row">
            <div class="col-md-3">
                <img src="../assets/img/VickyProfessional.jpeg" alt="Victoria Mutai" srcset=""
                    class="rounded-circle mt-5" height="200" width="200">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 mt-5">
                <h2><b>About Me</b></h2>
                <h4>Software Developer | Co-lead @Firebase Kenya</h4>
                <p>
                    A software engineer who has been able to work on
                    various web development projects and script writing in python. She believes in changing the world
                    using technlogy. She believes in narrowing the gap between boys and girls
                    in STEM courses. In her free time, she volunteers in her community as a trainer for kids and teens
                    learning programming. Some of the organization she has volunteered in include African Tech Girl,
                    Rural Women Peace Link and Andela(GADs mentor 2018,2019)</p>
                <p><b><i class="fa-brands fa-linkedin-in"></i>&nbsp;<a
                            href="https://www.linkedin.com/in/victoria-mutai/" target="_blank">Linkedin</a> | <i
                            class="fa-brands fa-twitter"></i>&nbsp;<a href="https://twitter.com/vicky__mutai"
                            target="_blank">Twitter</a>
                        | <i class="fa-brands fa-github"></i>&nbsp;<a href="https://github.com/VickyMutai"
                            target="_blank">Github</a></b>
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="skills mt-5" id="skills">
        <div class="row text-center">
            <h1><b>Skills</b></h1>
            <div class="col-md-4 mr-5 mt-4">
                <h3><b>Frontend</b></h3>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <img src="../assets/img/icon/html.png" alt="" height="100">
                    </div>
                    <div class="col-md-4">
                        <img src="../assets/img/icon/css.png" alt="" height="100">
                    </div>
                    <div class="col-md-4">
                        <img src="../assets/img/icon/js.png" alt="" height="100">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <img src="../assets/img/icon/angular.png" alt="" height="100">
                    </div>
                    <div class="col-md-4">
                        <img src="../assets/img/icon/bootstrap.png" alt="" height="100">
                    </div>
                </div>
            </div>
            <div class="col-md-4 mr-5 mt-4">
                <h3><b>Backend</b></h3>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <img src="../assets/img/icon/python.png" alt="" height="100">
                    </div>
                    <div class="col-md-4">
                        <img src="../assets/img/icon/flask.png" alt="" height="100">
                    </div>
                    <div class="col-md-4">
                        <img src="../assets/img/icon/django.png" alt="" height="100">
                    </div>
                </div>
            </div>
            <div class="col-md-4 mr-5 mt-4">
                <h3><b>Database</b></h3>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <img src="../assets/img/icon/firebase.png" alt="" height="100">
                    </div>
                    <div class="col-md-4">
                        <img src="../assets/img/icon/googlecloud.png" alt="" height="100">
                    </div>
                    <div class="col-md-4">
                        <img src="../assets/img/icon/mysql.png" alt="" height="100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>